USE [master]
GO
/****** Object:  Database [ToyStoreDB]    Script Date: 1/18/2026 9:07:10 PM ******/
CREATE DATABASE [ToyStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToyStoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ToyStoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ToyStoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ToyStoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToyStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToyStoreDB]
GO
/****** Object:  Table [dbo].[Toys]    Script Date: 1/18/2026 9:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Toys](
	[ToyID] [int] IDENTITY(1,1) NOT NULL,
	[ToyName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Stock] [int] NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ToyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_AvailableToys]    Script Date: 1/18/2026 9:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- VIEWS
-- ============================================

-- View: Available Toys
CREATE VIEW [dbo].[vw_AvailableToys] AS
SELECT 
    ToyID,
    ToyName,
    Description,
    Price,
    Stock,
    ImageUrl,
    CASE 
        WHEN Stock = 0 THEN 'Out of Stock'
        WHEN Stock < 10 THEN 'Low Stock'
        ELSE 'In Stock'
    END AS StockStatus
FROM Toys
WHERE IsActive = 1;
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/18/2026 9:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Role] [nvarchar](20) NULL,
	[CreatedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/18/2026 9:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ToyID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[OrderDate] [datetime2](7) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OrderSummary]    Script Date: 1/18/2026 9:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View: Order Summary
CREATE VIEW [dbo].[vw_OrderSummary] AS
SELECT 
    u.UserID,
    u.Username,
    u.FullName,
    COUNT(o.OrderID) AS TotalOrders,
    SUM(o.TotalPrice) AS TotalSpent
FROM Users u
LEFT JOIN Orders o ON u.UserID = o.UserID
GROUP BY u.UserID, u.Username, u.FullName;
GO
/****** Object:  Index [IX_Orders_ToyID]    Script Date: 1/18/2026 9:07:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_ToyID] ON [dbo].[Orders]
(
	[ToyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_UserID]    Script Date: 1/18/2026 9:07:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UserID] ON [dbo].[Orders]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Toys_IsActive]    Script Date: 1/18/2026 9:07:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Toys_IsActive] ON [dbo].[Toys]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Toys] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Toys] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([ToyID])
REFERENCES [dbo].[Toys] ([ToyID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateOrder]    Script Date: 1/18/2026 9:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- STORED PROCEDURES - ORDERS CRUD
-- ============================================

-- CREATE Order
CREATE PROCEDURE [dbo].[sp_CreateOrder]
    @UserID INT,
    @ToyID INT,
    @Quantity INT
AS
BEGIN
    DECLARE @Price DECIMAL(10, 2);
    DECLARE @TotalPrice DECIMAL(10, 2);
    
    -- Get toy price
    SELECT @Price = Price FROM Toys WHERE ToyID = @ToyID;
    SET @TotalPrice = @Price * @Quantity;
    
    INSERT INTO Orders (UserID, ToyID, Quantity, TotalPrice, Status)
    VALUES (@UserID, @ToyID, @Quantity, @TotalPrice, 'Pending');
    
    -- Update stock
    UPDATE Toys SET Stock = Stock - @Quantity WHERE ToyID = @ToyID;
    
    SELECT SCOPE_IDENTITY() AS NewOrderID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateToy]    Script Date: 1/18/2026 9:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- STORED PROCEDURES - TOYS CRUD
-- ============================================

-- CREATE Toy
CREATE PROCEDURE [dbo].[sp_CreateToy]
    @ToyName NVARCHAR(200),
    @Description NVARCHAR(500),
    @Price DECIMAL(10, 2),
    @Stock INT,
    @ImageUrl NVARCHAR(500)
AS
BEGIN
    INSERT INTO Toys (ToyName, Description, Price, Stock, ImageUrl)
    VALUES (@ToyName, @Description, @Price, @Stock, @ImageUrl);
    
    SELECT SCOPE_IDENTITY() AS NewToyID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteOrder]    Script Date: 1/18/2026 9:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DELETE Order
CREATE PROCEDURE [dbo].[sp_DeleteOrder]
    @OrderID INT
AS
BEGIN
    DELETE FROM Orders WHERE OrderID = @OrderID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteToy]    Script Date: 1/18/2026 9:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DELETE Toy (Soft Delete)
CREATE PROCEDURE [dbo].[sp_DeleteToy]
    @ToyID INT
AS
BEGIN
    UPDATE Toys SET IsActive = 0 WHERE ToyID = @ToyID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllOrders]    Script Date: 1/18/2026 9:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- READ All Orders
CREATE PROCEDURE [dbo].[sp_GetAllOrders]
AS
BEGIN
    SELECT 
        o.OrderID,
        o.UserID,
        u.Username,
        u.FullName,
        o.ToyID,
        t.ToyName,
        o.Quantity,
        o.TotalPrice,
        o.OrderDate,
        o.Status
    FROM Orders o
    INNER JOIN Users u ON o.UserID = u.UserID
    INNER JOIN Toys t ON o.ToyID = t.ToyID
    ORDER BY o.OrderDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllToys]    Script Date: 1/18/2026 9:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- READ All Toys
CREATE PROCEDURE [dbo].[sp_GetAllToys]
AS
BEGIN
    SELECT * FROM Toys WHERE IsActive = 1 ORDER BY ToyName;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOrdersByUser]    Script Date: 1/18/2026 9:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- READ Orders by User
CREATE PROCEDURE [dbo].[sp_GetOrdersByUser]
    @UserID INT
AS
BEGIN
    SELECT 
        o.OrderID,
        o.ToyID,
        t.ToyName,
        t.ImageUrl,
        o.Quantity,
        o.TotalPrice,
        o.OrderDate,
        o.Status
    FROM Orders o
    INNER JOIN Toys t ON o.ToyID = t.ToyID
    WHERE o.UserID = @UserID
    ORDER BY o.OrderDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetToyByID]    Script Date: 1/18/2026 9:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- READ Toy by ID
CREATE PROCEDURE [dbo].[sp_GetToyByID]
    @ToyID INT
AS
BEGIN
    SELECT * FROM Toys WHERE ToyID = @ToyID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateOrderStatus]    Script Date: 1/18/2026 9:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- UPDATE Order Status
CREATE PROCEDURE [dbo].[sp_UpdateOrderStatus]
    @OrderID INT,
    @Status NVARCHAR(20)
AS
BEGIN
    UPDATE Orders SET Status = @Status WHERE OrderID = @OrderID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateToy]    Script Date: 1/18/2026 9:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- UPDATE Toy
CREATE PROCEDURE [dbo].[sp_UpdateToy]
    @ToyID INT,
    @ToyName NVARCHAR(200),
    @Description NVARCHAR(500),
    @Price DECIMAL(10, 2),
    @Stock INT,
    @ImageUrl NVARCHAR(500)
AS
BEGIN
    UPDATE Toys
    SET ToyName = @ToyName,
        Description = @Description,
        Price = @Price,
        Stock = @Stock,
        ImageUrl = @ImageUrl
    WHERE ToyID = @ToyID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UserLogin]    Script Date: 1/18/2026 9:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- STORED PROCEDURES - USER LOGIN
-- ============================================

-- User Login
CREATE PROCEDURE [dbo].[sp_UserLogin]
    @Username NVARCHAR(50),
    @Password NVARCHAR(255)
AS
BEGIN
    SELECT UserID, Username, FullName, Email, Role
    FROM Users
    WHERE Username = @Username AND Password = @Password;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UserRegister]    Script Date: 1/18/2026 9:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- User Registration
CREATE PROCEDURE [dbo].[sp_UserRegister]
    @Username NVARCHAR(50),
    @Password NVARCHAR(255),
    @FullName NVARCHAR(100),
    @Email NVARCHAR(100)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Users WHERE Username = @Username)
    BEGIN
        SELECT -1 AS UserID, 'Username already exists' AS Message;
        RETURN;
    END

    INSERT INTO Users (Username, Password, FullName, Email, Role)
    VALUES (@Username, @Password, @FullName, @Email, 'User');
    
    SELECT SCOPE_IDENTITY() AS UserID, 'Registration successful' AS Message;
END;
GO
USE [master]
GO
